<div class="container mt-4">
  <div class="content-box menu-options-container">
    <div class="menu-option">
      <%= link_to "Confirmación Semanal", fichajes_semanal_path, class: "btn btn-primary" %>
    </div>

    <div class="menu-option">
      <%= link_to "Gestionar Empleados", admin_trabajadores_path, class: "btn btn-primary" %>
    </div>

    <div class="menu-option">
      <%= link_to "Generar Informe de Saldos (PDF)", informe_saldos_path(format: :pdf), class: "btn btn-primary", target: "_blank" %>
    </div>

    <div class="menu-option">
      <%= link_to "Configuración", admin_root_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
