<% content_for :title, "Nuevo Tipo de Ausencia" %>

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Nuevo Tipo de Ausencia</h1>
  <%= link_to 'Volver al listado', admin_tipo_ausencias_path, class: 'btn btn-secondary' %>
</div>

<%= render 'form', tipo_ausencia: @tipo_ausencia %>